@use "../abstracts/" as *;

.header {
    display: flex;
    position: sticky;
    top: 0;
    padding: 0 5rem;
    height: 7rem;
    z-index: 1000;
    overflow: hidden;
    border-radius: 0.6rem;
    background-color: inherit;

    &::before {
        content: "";
        position: absolute;
        background: inherit;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        box-shadow: inset 0 0 0 200rem rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(0.8rem);
        background-color: inherit;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1001;


    &__logo {
        font-weight: 700;
        font-size: 2rem;
    }

    &__links {
        ol {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;

            li {
                &:not(:last-child) {
                    margin-right: 5rem;
                }
            }
        }
    }
}
