<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>seyLu</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/github-markdown-light.min.css">
    <link rel="stylesheet" href="/static/css/main.min.css">
    <script type="text/javascript" src="/static/js/main.js" defer></script>
</head>

<body data-theme="light">
    <header class="header">
        <nav class="nav">
            <div class="nav__logo">
                md-compile
            </div>
            <div class="nav__links">
                <ol>
                    <input type="checkbox" name="theme-toggler" id="theme-toggler">
                    <li class="theme-toggler">theme toggler</li>
                    <li class="projects-dropdown">projects</li>
                    <li class="github-icon">github icon</li>
                </ol>
            </div>
        </nav>
    </header>

    <main class="markdown-body">{{ md | safe }}</main>

    <footer class="footer">
        <div class="footer__text">
            footer
        </div>
    </footer>
</body>

</html>
