@use "../abstracts/" as *;

body[data-theme="dark"] {
    background-color: $background-color-github-black;

    .header{
        color: #fff;
        background-color: transparent;

        &::before {
            box-shadow: inset 0 0 0 200rem rgba(10, 10, 10, 0.5);
        }
    }
}
